__pycache__/baginterface.cpython-311.pyc
__pycache__/linkedbag.cpython-311.pyc
__pycache__/menu.cpython-311.pyc
__pycache__/menu4order.cpython-311.pyc
__pycache__/menuitem.cpython-311.pyc
__pycache__/node.cpython-311.pyc
__pycache__/order.cpython-311.pyc
__pycache__/person.cpython-311.pyc
__pycache__/printer.cpython-311.pyc
__pycache__/questions.cpython-311.pyc
__pycache__/transaction.cpython-311.pyc
